body{
 text-align: center;
}

#wrapper {
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:url("https://www.pakutaso.com/shared/img/thumb/AME687_juhyou_TP_V.jpg");
  height: 450px;
  background-position:center center;

  padding-top: 170px;
}

.grey{
 background-color: #C0C0C0;
}

.logo-title, .logo-desc{
    color: white;
}

.section-ti{
    font-size: 40px;
}

.inner{
 padding: 15px;
}

.logo-title{
 font-family: 'Oswald', sans-serif;
 font-size: 94px;
 letter-spacing: -2px;
 
}

.line {
 display: flex;  
 justify-content: space-around;
 margin-right: 10px;
 list-style: none;
 width: 50%;
 margin: 0 auto;

}

.en {
   background-size:cover;

    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    width:  200px;       /* ※縦横を同値に */
    height: 200px;       /* ※縦横を同値に */
}

.two-column-wrapper{
    display: flex;
    
    width: 35%;
    margin: 0 auto;
}

.text{
    text-align: left
}

#group {
    text-align: left;
    width: 12%;
    margin: 0 auto;
}

.col-md-4{
    border:solid 1px #016ea9;
    background-color: white;
    
}

.twin{
   display: flex;  
   justify-content: center;
}

#footer {
    background-color: #212529;
    color: white;
}

.color {
    color: white;
}

.chan{
    color:black;
    text-decoration: none;
}

.change {
    color:white;
    text-decoration: none;
}

.btn {
  display: inline-block;
  cursor: pointer;
  padding: 12px 80px;
  background-color: #5dca88;
  box-shadow: 0px 5px #279C56;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
}

.btn:active {
  position: relative;
  top: 5px;
  box-shadow: none;
}

.image {
  background-color: #FFCCFF;
}